body {
  width: 100%;
  display: table;
}
.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(63, 60, 60, 0.7)),
    url("image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 40rem;
}
h1 {
  color: red;
}
.input {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#text {
  margin-top: 25rem;
  width: 50%;
  height: 3rem;
  padding-left: 20%;
  font-size: 20px;
  margin-right: 10px;
  opacity: 0.2;
  font-weight: bolder;
  border-radius: 5px;
  border: none;
}
#text:hover {
  opacity: 0.5;
  border: 2px solid black;
}
#submit {
  margin-top: 25rem;
  width: 12%;
  background-color: rgb(0, 153, 255);
  border: none;
  opacity: 0.5;
  border-radius: 5px;
  font-size: 1.5em;
  color: white;
  padding: 2;
}
#submit:hover {
  background-color: rgb(0, 153, 255);
  opacity: 1;
}
.cases {
  height: 10em;
  margin-top: 10px;
  border: 2px solid black;
  text-align: center;
  border-radius: 5px;
}
#country {
  font-size: 5em;
  text-transform: uppercase;
  color: rgb(17, 95, 238);
}
#active {
  background-color: rgb(139, 224, 235);
  border: 2px solid rgb(20, 169, 250);
}
#total {
  background-color: rgb(250, 250, 169);
  border: 2px solid yellow;
}
#deaths {
  background-color: rgb(250, 136, 136);
  border: 2px solid red;
}
#recovered {
  background-color: rgb(126, 252, 132);
  border: 2px solid green;
}
p {
  font-size: 2em;
}
/*media queries*/
@media all and (max-width: 600px) {
  .header {
    height: 30rem;
    text-align: center;
  }
  #text,
  #submit {
    margin-top: 15rem;
  }
  #submit {
    width: 15%;
  }
}
